@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
  --font-mono: ui-monospace, monospace;
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --color-invert-foreground: var(--invert-foreground);
  --color-invert: var(--invert);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning: var(--warning);
  --color-info-foreground: var(--info-foreground);
  --color-info: var(--info);
  --color-success-foreground: var(--success-foreground);
  --color-success: var(--success);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-brand-50: #f4f7fb;
  --color-brand-100: #e8edf5;
  --color-brand-200: #b6c5d9;
  --color-brand-300: #9aadc7;
  --color-brand-400: #798da7;
  --color-brand-500: #5077a5;
  --color-brand-600: #4b5d76;
  --color-brand-700: #1d3352;
  --color-brand-800: #0d2c59;
  --color-brand-900: #041c3e;
}

:root {
  --background: #f4f7fb;
  --foreground: #041c3e;
  --card: oklch(1 0 0);
  --card-foreground: #041c3e;
  --popover: oklch(1 0 0);
  --popover-foreground: #041c3e;
  --primary: #0d2c59;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: #1d3352;
  --secondary-foreground: oklch(0.985 0 0);
  --muted: #e8edf5;
  --muted-foreground: #798da7;
  --accent: #5077a5;
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: #b6c5d9;
  --input: #b6c5d9;
  --ring: #5077a5;
  --chart-1: #0d2c59;
  --chart-2: #1d3352;
  --chart-3: #4b5d76;
  --chart-4: #5077a5;
  --chart-5: #798da7;
  --radius: 6px;
  --sidebar: #f4f7fb;
  --sidebar-foreground: #041c3e;
  --sidebar-primary: #0d2c59;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: #e8edf5;
  --sidebar-accent-foreground: #041c3e;
  --sidebar-border: #b6c5d9;
  --sidebar-ring: #5077a5;
  --destructive-foreground: var(--color-red-800);
  --success: var(--color-emerald-500);
  --success-foreground: var(--color-emerald-900);
  --info: var(--color-violet-500);
  --info-foreground: var(--color-violet-900);
  --warning: var(--color-yellow-500);
  --warning-foreground: var(--color-yellow-900);
  --invert: #041c3e;
  --invert-foreground: #f4f7fb;
}

.dark {
  --background: #041c3e;
  --foreground: #f4f7fb;
  --card: #0d2c59;
  --card-foreground: #f4f7fb;
  --popover: #0d2c59;
  --popover-foreground: #f4f7fb;
  --primary: #5077a5;
  --primary-foreground: #041c3e;
  --secondary: #1d3352;
  --secondary-foreground: #f4f7fb;
  --muted: #1d3352;
  --muted-foreground: #798da7;
  --accent: #5077a5;
  --accent-foreground: #041c3e;
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: #5077a5;
  --chart-1: #5077a5;
  --chart-2: #798da7;
  --chart-3: #9aadc7;
  --chart-4: #b6c5d9;
  --chart-5: #e8edf5;
  --sidebar: #0d2c59;
  --sidebar-foreground: #f4f7fb;
  --sidebar-primary: #5077a5;
  --sidebar-primary-foreground: #041c3e;
  --sidebar-accent: #1d3352;
  --sidebar-accent-foreground: #f4f7fb;
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: #5077a5;
  --destructive-foreground: var(--color-red-600);
  --success: var(--color-emerald-500);
  --success-foreground: var(--color-emerald-600);
  --info: var(--color-violet-500);
  --info-foreground: var(--color-violet-600);
  --warning: var(--color-yellow-500);
  --warning-foreground: var(--color-yellow-600);
  --invert: #f4f7fb;
  --invert-foreground: #041c3e;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans scroll-smooth;
  }
}
